<div class="w-[100%] h-[93vh] bg-gray-700 flex justify-center items-center ">

    <div class="w-[25%] bg-white min-h-[50vh] flex justify-center items-center cborder">
        <div class="w-[90%]">
            <div class="w-[100%] min-h-[10vh] text-[30px] flex justify-center">
                ChatRoom
            </div>
            <div class="w-[100%]">
                <input [(ngModel)]="UserName" class="border-[2px] w-[100%] px-3 py-3 text-[17px] border-black" placeholder="Enter Your Name">
            </div>
            <div class="w-[100%] cborder py-5 flex justify-center">
                <button (click)="goToHomePage()" class="px-3 py-2 text-[18px]  border-2 border-blue-600 text-blue-600 font-medium hover:bg-blue-600 hover:text-white w-[80%]">Submit</button>
            </div>
        </div>
    </div>

</div>